<!doctype html>
<html lang="en-US">
  <head>
    <title>Ryan Gilbert | Personal Site</title>

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <i class="fa fa-pause fa-2x" id="pauseButton"></i>

    <div class="jumbotron">
      <a href="{{url_for('index')}}"><h1>Ryan Gilbert</h1></a>
      <hr>
      <a href="https://github.com/rgilbert1">
        <div id="segment1">
          <i class="fa fa-github" id="github-icon"></i>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/ryan-gilbert-813a90107/">
        <div id="segment2">
          <i class="fa fa-linkedin" id="linkedin-icon"></i>
        </div>
      </a>
      <a href="mailto:ryangilbert7296@gmail.com">
        <div id="segment3">
          <i class="material-icons" id="email-icon">mail_outline</i>
        </div>
      </a>
      <a href="/static/resume/resume.pdf">
        <div id="segment4">
          <i class="fa fa-file-pdf-o" id="resume-icon"></i>
        </div>
      </a>
      <div id="inner-circle">
      </div>
    </div>

    <div id="video">
      <video playsinline autoplay muted loop poster="static/images/stock-frame.png" id="bgvid">
        <source src="static/video/stock-video.mp4">
      </video>
    </div>

    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>
